<div *ngIf="services$">
    <h3 class="title">List of services</h3>
     <p><a routerLink='/services/create' class="icon-add" ></a> Create new service</p>
    <mat-nav-list>
        <mat-list-item *ngFor="let service of services$ | async">
            <a routerLink='/services/{{service.id}}' routerLinkActive='active' style="text-decoration: none">
                <div class="list">
                    <div class="row">
                        <div class="col-9">
                            <h5 class="list-header"> {{service.name}} </h5>
                            <p class="list-text">{{service.description}}</p>
                        </div>
                        <div class="col-2" >
                            <img src="{{service.statusUrl}}" alt="{{service.status}}" title="{{service.status}}">
                            <p class="list-text">{{service.status}} </p>
                        </div>
                        <div class="col-1 appear-on-hover">
                            <img class="icon-go-to appear-on-hover">
                        </div>
                    </div>                    
                </div>               
            </a>
        </mat-list-item>
    </mat-nav-list>    
</div>
