
<h2>Partners Service {{action}}</h2>
<div mat-dialog-content>
  <mat-form *ngIf="action != 'Delete'; else elseTemplate" class="mat-form">
    
    <div class="section-container">
      <table class="form-table">
        <tbody>
          <tr>
            <td><label class="form-label">Vendor: </label></td>
              <td>
                <select [(ngModel)]="local_data.vendorName"  class="form-control" [select]="local_data.vendorName" name="vendor" placeholder="select vendor">
                  <option *ngFor="let item of vendorList" [value]="item.name">
                      {{item.name}}  
                  </option>
                </select>
              </td>
          </tr>
          <tr>
            <td><label class="form-label">Service: </label></td>
            <td>
              <select [(ngModel)]="local_data.serviceName"  class="form-control" [select]="local_data.serviceName" name="service" placeholder="select service">
                <option *ngFor="let item of serviceList" [value]="item.name">
                    {{item.name}}  
                </option>
              </select>
            </td>
          </tr>
          <tr>
            <td><label class="form-label">Year: </label></td>
            <td>
              <select [(ngModel)]="local_data.year"  class="form-control" [select]="local_data.year" name="year" placeholder="select year">
                <option *ngFor="let item of yearList" [value]="item">
                    {{item}}  
                </option>
              </select> 
            </td>
          </tr>
          <tr>
            <td><label class="form-label">Status: </label></td>
            <td>
              <select [(ngModel)]="local_data.status"  class="form-control" [select]="local_data.status" name="year" placeholder="select status">
                <option *ngFor="let item of statusList" [value]="item">
                    {{item}}  
                </option>
              </select>
            </td>
          </tr>
          <tr>
            <td><label class="form-label">Note: </label></td>
            <td>
              <input matInput [(ngModel)]="local_data.note" name="note" class="form-control">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</mat-form>
<ng-template #elseTemplate>
This will permenantly delete this service. are you sure? <b>{{local_data.activity}}</b>?
</ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button class="btn btn-success" (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>

