/* You can add global styles to this file, and also import other style files */
.title {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
}
.margin-top {
    margin-top: 20px;
}
.margin-bottom {
    margin-bottom: 20px;
}
.form-title {
    font-size: 25px;
    font-weight: bold;
}
.form-text {
    font-size: 16px;
    font-style: italic;
    vertical-align: middle;
    text-align: left;   
}
.form-input-text {
    font-size: 16px;
    font-style: italic;
    vertical-align: middle;
    text-align: left;   
}


table,
.table-form {    
    width: 500px;
    table-layout: auto;   
    
}
.table-row {
    border: 1px solid transparent;
    height: 30px;
    margin-bottom: 20px;
    vertical-align: middle;
    text-align: left;
    height: 30px;
}

.list-group {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 650px;
}
.list-header {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}
.list-text {
    margin: 0px;
    font-size: 14px;
    font-style: italic;
}

.list-group-table {
    border: 1px;
    width: 600px;
    color: darkblue;
}
.list-group-header {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    
}
.list-group-item-text {
    margin: 0px;
    font-size: 14px;
    font-style: italic;
}

.appear-on-hover {
    display: none;
}
.list-group-item:hover .appear-on-hover {
    display: inline-block;

}
.icon-container {
    margin: 5px;
} 
img {
    height: 30px;
    width: 30px;  
    margin: 5px;
    object-fit: fill;
    background-repeat: no-repeat;
}
.icon, .icon-add, .icon-edit {
    height: 30px;
    width: 30px;  
    margin: 5px;
    object-fit: fill;
    background-repeat: no-repeat;
}
.icon-add {
    content: url("./assets/images/icon-add.png");
}
.icon-edit {
    content: url("./assets/images/icon-edit.png");
}
.icon-go-to {
    content: url("./assets/images/icon-arrow-right.png");
    height: 40px;
    width: 40px;
    margin: 0px;
}