/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
/*

*/
.section-container {
    display: block;
    align-content:flex-start;
    padding: 5px;
    min-width: 250px;
}
.form-control{
    vertical-align: top;
    display: inline;
    width: 350px;
    word-wrap: normal;
}
.form-group {
    width: 100%;
    margin: 15px;
    padding: 0px;
}

.form-textarea {
    background-color: whitesmoke;
    color: black;
    
    border: 2px;
    border-style: outset;
    margin-left: 10px;
    font-style: oblique;
    padding: 0px;
    display:inline-block;
    
}
/* need this to make the select value visible */
.mat-select-value {
    color: black;
}
.form-label {
    display:block;
    float: right;
    clear: left;
    min-width: 50px;
    text-align: right;   
    
}
.form-field {
    display:block;
    float: left;
    clear: left;
    min-width: 30px;
    margin-left: 5px;
    text-align: left;       
}
.mat-dialog-container {
    background-color: whitesmoke;
    color: black;
    text-align: left;
}
.horizontal-container {
    display: flex;
    flex-direction: row;
    align-items: center;

}
.mat-grid-tile {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    position: absolute;
    vertical-align: top;
}
.mat-form {
    display:inline-block;
    flex-direction: column;
    width: 100%;
}

.mat-header-cell{
    padding-right: 20px;
}
td.mat-cell {
    padding: 20px;
}
.mat-table {
    overflow: auto;
    max-height: 500px;
  }
.th-col {
    
    margin-right: 20px;
    padding-right: 20px;
    background-color: whitesmoke;
    color: black;
    text-align: left;    
    font-size: 14px;
    border-top: 2px solid grey;
    min-width: 80px;
}
.col-long {
    width: 250px;
}
.col-very-long {
    width: 350px;
}
.td-col {
    margin-right: 20px;
    padding-right: 20px;
    color: black;
    text-align: left;
    border-top: 2px solid grey;
    word-wrap: normal;
}
.mat-col {
    background-color: whitesmoke;
}
.mat-row {
    background-color: whitesmoke;
}
.mat-row:hover {
    background-color: lightblue;
    
}
.list-header {    
    font-style:normal;
    font-size: 14px;
    color: darkblue;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
}
.list-text {    
    font-style: italic;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    
}
.list-row {
    border: 1px solid darkblue;
    height: auto;
    margin-top: 2px;
    width: 700px;
    padding: 2px;
    align-content: left;
    justify-content: left;
    text-align: left;
}
.list-gridbox {
    margin-right: 25px;
    width: 400px;
}
.list-gridbox-small {
    margin-right: 25px;
    width: 50px;
}

.appear-on-hover {
    display: none;
}
.row:hover .appear-on-hover {
    display: inline-block;
}

.icon-container {
    margin: 5px;
} 
img {
    height: 30px;
    width: 30px;  
    margin: 5px;
    object-fit: fill;
    background-repeat: no-repeat;
}
.icon, .icon-add, .icon-edit, .icon-go-to {
    height: 25px;
    width: 25px;  
    margin: 2px;
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: top;
    
}
.icon-add {
    content: url("./assets/images/icon-add.png");
}
.icon-edit {
    content: url("./assets/images/icon-edit.png");
    
}
.icon-search {
    background-image: url("./assets/images/icon-search.png");
    background-size:contain;
    vertical-align: middle;
    height: 30px;
    width: 30px;    
}
.icon-go-to {
    content: url("./assets/images/icon-arrow-right.png");
    height: 40px;
    width: 40px;    
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
