<div class="container mt-5">
    <div *ngIf="!registerMode" style ='text-align: center;'>
        <h1> Welcome to DigitalBird!</h1>
        <p class="lead">GDPR beaurocracy record keeping tool!! YAY!</p>
        <div class="text-center">
            <button (click)="registerToggle()" *ngIf="!(accountService.currentUserToken$ | async)" class="btn btn-primary btn-lg mr-2" hidden>Register</button>
            <button class="btn btn-info btn-lg ">Learn more</button>
        </div>

    </div>
    <div *ngIf="registerMode" class="container">
        
        <div class="row justify center">
            <div class="col-4">
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
        </div>
    </div>
</div>
