<h2 class="title"> Process Gdpr record list </h2>
<div *ngIf="!dataSource">
    <p>This service has no process list</p>
</div>
<div *ngIf="dataSource">
    <div>
        <table class="form-table">
            <tbody>
                <tr>
                    <td><label class="form-label">Partner: </label></td>
                    <td><label class="form-field">{{dataSource[0].partnerName}} </label></td>
                </tr>
                <tr>
                    <td><label class="form-label">Vendor: </label></td>
                    <td><label class="form-field">{{dataSource[0].vendorName}} </label></td>
                </tr>
                <tr>
                    <td><label class="form-label">Service: </label></td>
                    <td><label class="form-field">{{dataSource[0].serviceName}} </label></td>
                </tr>
                <tr>
                    <td><label class="form-label">Year: </label></td>
                    <td><label class="form-field">{{dataSource[0].gdprRecordYear}} </label></td>
                </tr>
            </tbody>
        </table>
        
        <div>
            <table mat-table [dataSource]="dataSource" class="mat-table">

                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef class="th-col col-very-long"> Category </th>
                    <td mat-cell *matCellDef="let element" class="td-col"> {{element.processCategory}} </td>
                </ng-container>
                <ng-container matColumnDef="activity">
                    <th mat-header-cell *matHeaderCellDef class="th-col col-long"> Activity </th>
                    <td mat-cell *matCellDef="let element" class="td-col"> {{element.processActivity}} </td>
                </ng-container>
                <ng-container matColumnDef="gdprRequirement">
                    <th mat-header-cell *matHeaderCellDef class="th-col"> Gdpr </th>
                    <td mat-cell *matCellDef="let element" class="td-col"> {{element.processGdprRequirement}} </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef class="th-col"> Status </th>
                    <td mat-cell *matCellDef="let element" class="td-col"> 
                        <img class="icon" src="{{element.statusUrl}}" alt="">
                        <br>
                        <small>{{element.status}} </small>                        
                    </td>
                </ng-container>
                <ng-container matColumnDef="contractStatus">
                    <th mat-header-cell *matHeaderCellDef class="th-col"> Contract Status </th>
                    <td mat-cell *matCellDef="let element" class="td-col"> {{element.contractStatus}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef  class="th-col"  style="color: blue;"> Action </th>
                    <td mat-cell *matCellDef="let element" class="td-col action-col " style="color: blue;">
                        <div *ngIf="element.id === 0">
                            <button (click)="createGdprRecord(element)" title="Create"><img src="./assets/images/icon-add.png" alt="Create" class="icon"></button>
                        </div>                       
                        <div *ngIf="element.id !== 0">
                            <a routerLink='/gdpr/{{element.id}}' routerLinkActive='active' style="text-decoration: none">
                                <button title="Open"><img src="./assets/images/icon-scroll.png" alt="Open" class="icon"></button> | 
                            </a> 
                            <button (click)="deleteGdprRecord(element.id)" title="Delete"><img src="./assets/images/icon-bin.png" alt="Delete" class="icon"></button>  
                        </div>
                        
                    </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mat-col"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-row">
                </tr>
            </table>
        </div>        
    </div>
</div>