
<h2 mat-dialog-title>Process {{action}}</h2>
<div mat-dialog-content>
  <mat-form *ngIf="action != 'Delete'; else elseTemplate" class="mat-form">
    <div class="section-container">
      <table class="form-table">
        <tbody>
          <tr>
            <td><label class="form-label">Category: </label></td>
            <td><input mat-input class="form-control" [(ngModel)]="local_data.category" name="category" /> </td>
          </tr>
          <tr>
            <td><label class="form-label">Activity: </label></td>
            <td><input mat-input class="form-control" [(ngModel)]="local_data.activity" name="activity" > </td>
          </tr>
          <tr>
            <td><label class="form-label">Note: </label></td>
            <td><textarea mat-input name="note" id="note" cols="*" rows="3" [(ngModel)]="local_data.note" class="form-control"></textarea></td>
          </tr>
          <tr>
            <td><label class="form-label">Gdpr: </label></td>
            <td>
              <select mat-input name="gdprRequirement" style="width:100px" [(ngModel)]="local_data.gdprRequirement" class="form-control">
                <option [ngValue]="true"> true</option>
                <option [ngValue]="false"> false</option>
              </select>    
            </td>
          </tr>
          <tr>
            <td><label class="form-label">Order: </label></td>
            <td> <input mat-input style="width: 100px;" class="form-control" [(ngModel)]="local_data.sortOrder" name="sortOrder">            </td>
          </tr>
        </tbody>
      </table>
    </div>
</mat-form>
  <ng-template #elseTemplate>
    This will permenantly delete this process step. are you sure? <b>{{local_data.activity}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button class="btn btn-success" (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>

