<div *ngIf="service">
    <h3 *ngIf="isNewService" class="title">Create new service</h3>
    <h3 *ngIf="!isNewService" class="title">Edit service</h3>
    <form #editForm="ngForm" id="editForm" (ngSubmit)="updateService()" style="margin-top: 20px;">
        <div class="form-group">
            <label>Name: </label>
            <input [(ngModel)]="service.name" name="name" cols="*" rows="1" class="form-control" style="width:400px">
        </div>
        <div class="form-group">
            <label>Description: </label>
            <input [(ngModel)]="service.Description" name="type" cols="*" rows="1" class="form-control" style="width:400px">
        </div>
        <div class="form-group">
            <label>Status: </label>
            <select name="status" style="width:200px" [(ngModel)]="service.status" class="form-control">
                <option *ngFor="let status of statusList" [value]="status.value"> {{status.display}}</option>
            </select>            
        </div>
        <div class="margin-top alert-warning"  *ngIf="editForm.dirty">
            <p class="form-text" style="margin-bottom: 10px;">You have made changes, any unsaved changes will be lost</p>
            <button form="editForm" *ngIf="!isNewservice" type="submit" class="btn btn-success">Save Changes</button>
            <button form="n.a." *ngIf="isNewservice" (click)="createService()" class="btn btn-success">Create new service</button>
            <button form="n.a" (click)="reloadRoute()" class="btn btn-warning">Cancel Changes</button>
        </div>

    </form>
</div>

