
<div *ngIf="partner">
    <div class="horizontal-container">
        <h2 class="title"> {{partner.name}} </h2>
        <p> <a routerLink='/partners/{{partner.id}}/edit' class="icon-edit"></a> Edit Partner</p>
    </div>
    <table class="form-table">
        <tbody>
            <tr>
                <td><label class="form-label">Group: </label></td>
                <td><label class="form-field">{{partner.partner_group}} </label></td>
            </tr>
            <tr>
                <td><label class="form-label">Agency: </label></td>
                <td><label class="form-field">{{partner.agency}} </label></td>
            </tr>
            <tr>
                <td><label class="form-label">Status: </label></td>
                <td><label class="form-field">{{partner.status}} </label></td>
            </tr>
            <tr>
                <td><label class="form-label">Type: </label></td>
                <td><label class="form-field">{{partner.type}} </label></td>
            </tr>
            <tr>
                <td><label class="form-label">Email: </label></td>
                <td><label class="form-field">{{partner.email}} </label></td>
            </tr>
            <tr>
                <td><label class="form-label">Telephone: </label></td>
                <td><label class="form-field">{{partner.telephone}} </label></td>
            </tr>
        </tbody>
    </table>

</div>
<div style="margin-top: 20px;">
    <div class="horizontal-container">
        <h2 class="title">Partner services </h2>
    </div>
    <button (click)="openDialog('Add',{})" class="btn btn-info">Add Service</button>
    <div *ngIf="dataSource">
        <div *ngIf="dataSource.length == 0">
            <p>Partner doesnt have any services registered</p>
        </div>
        <div>
            <table mat-table [dataSource]="dataSource" class="mat-table">
                <ng-container matColumnDef="vendorName">
                    <th mat-header-cell *matHeaderCellDef class="th-col col-long"> Vendor </th>
                    <td mat-cell *matCellDef="let element" class="td-col"> {{element.vendorName}} </td>
                </ng-container>
                <ng-container matColumnDef="serviceName">
                    <th mat-header-cell *matHeaderCellDef class="th-col col-long"> Service </th>
                    <td mat-cell *matCellDef="let element" class="td-col"> {{element.serviceName}} </td>
                </ng-container>
                <ng-container matColumnDef="year">
                    <th mat-header-cell *matHeaderCellDef class="th-col"> Year </th>
                    <td mat-cell *matCellDef="let element" class="td-col"> {{element.year}} </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef class="th-col"> Status </th>
                    <td mat-cell *matCellDef="let element" class="td-col"> 
                        <img class="icon" src="{{element.statusUrl}}" alt="">
                        <br>
                        <small>{{element.status}} </small>                        
                    </td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef  class="th-col"  style="color: blue;"> Action </th>
                    <td mat-cell *matCellDef="let element" class="td-col action-link " style="color: blue;">
                        <a routerLink='/gdpr/{{partner.id}}/{{element.vendorId}}/{{element.serviceId}}/{{element.year}}' routerLinkActive='active' style="text-decoration: none">
                            <button title="Open"><img src="./assets/images/icon-scroll.png" alt="Open" class="icon"></button> | 
                        </a>                        
                        <button (click)="openDialog('Update',element)" title="Edit"><img src="./assets/images/icon-edit.png" alt="Edit" class="icon"></button> | 
                        <button (click)="openDialog('Delete',element)" title="Delete"><img src="./assets/images/icon-bin.png" alt="Delete" class="icon"></button>  
                    </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mat-col"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-row">
                </tr>
            </table>
        </div>        
    </div>
</div>
