<div *ngIf="partner">
    <h3 *ngIf="isNewPartner" class="title">Create new partner</h3>
    <h3 *ngIf="!isNewPartner" class="title">Edit partner</h3>
    <form #editForm="ngForm" id="editForm" (ngSubmit)="updatePartner()" style="margin-top: 20px;">
    <table>
        <colgroup>
            <col style="width: 100px;">
            <col style="width: 400px;">
        </colgroup>
        <tbody>
            <tr>
                <td><label class="form-label">Name: </label></td>
                <td><input mat-input class="form-control" [(ngModel)]="partner.name" name="name" cols="*" rows="1" > </td>
            </tr>
            <tr>
                <td><label class="form-label">Status: </label></td>
                <td>
                    <select name="status" style="width:200px" [(ngModel)]="partner.status" class="form-control">
                        <option *ngFor="let status of statusList" [value]="status.value"> {{status.display}}</option>
                    </select>    
                </td>
            </tr>
            <tr>
                <td><label class="form-label">Agency: </label></td>
                <td>
                    <select name="agency" style="width:100px" [(ngModel)]="partner.agency" class="form-control">
                        <option *ngFor="let agency of agencyList" [value]="agency.value"> {{agency.display}}</option>
                    </select>     
                </td>
            </tr>
            <tr>
                <td><label class="form-label">Type: </label></td>
                <td><input [(ngModel)]="partner.type" name="type" cols="*" rows="1" class="form-control" style="width:400px"></td>
            </tr>
            <tr>
                <td><label class="form-label">Group: </label></td>
                <td><input [(ngModel)]="partner.partner_group" name="group" cols="*" rows="1" class="form-control" style="width:400px"></td>
            </tr>
            <tr>
                <td><label class="form-label">Email: </label></td>
                <td><input [(ngModel)]="partner.email" name="email" cols="*" rows="1" class="form-control" style="width:400px"></td>
            </tr>
            <tr>
                <td><label class="form-label">Address: </label></td>
                <td><input [(ngModel)]="partner.address" name="address" cols="*" rows="1" class="form-control" style="width:400px"></td>
            </tr>
            <tr>
                <td><label class="form-label">Telephone: </label></td>
                <td><input [(ngModel)]="partner.telephone" name="telephone" cols="*" rows="1" class="form-control" style="width:400px"></td>
            </tr>

        </tbody>
    </table>

        <div class="margin-top alert-warning"  *ngIf="editForm.dirty">
            <p class="form-text" style="margin-bottom: 10px;">You have made changes, any unsaved changes will be lost</p>
            <button form="editForm" *ngIf="!isNewPartner" type="submit" class="btn btn-success">Save Changes</button>
            <button form="n.a." *ngIf="isNewPartner" (click)="createPartner()" class="btn btn-success">Create new partner</button>
            <button form="n.a" (click)="reloadRoute()" class="btn btn-warning">Cancel Changes</button>
        </div>

    </form>
</div>

